html, body {
    height: 100%;
}

.navbar {
    padding: 1px 8px 1px 8px;
}

.bg-primary {
    background-color: black !important;
}

.background {
    background: white;
}

.pictureHome {
    background: url("../img/pyramide.jpg") no-repeat center;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.pictureHome p {
    color:white;
    font-size: 50px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.homePage h3, p {
    color: black;
}

.menu-order {
    margin-top: 15px;
}

.progress {
    margin-bottom: 15px;
}

.table-card td {
    border: rgba(24, 188, 156, 0);
}

.btn-std {
    background: #18BC9C;
    border-color: #18BC9C;
}

.btn-std:hover {
    background: rgba(24, 188, 156, 0.9);
    border-color: rgba(24, 188, 156, 0.9);
}

.order-1 {
    margin-top: 5px;
}

a:link {
    text-decoration: none;
}

.billet {
    border:rgba(0,0,0,0.125) 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.border-price {
    margin: 45px 0 45px 0;
}

.table-price th, td {
    text-align: center;
    padding: 10px;
    border:  rgba(0,0,0,0.125) 1px solid;
    width: 25%;
}

.table-price th {
    font-size: 25px;
    color: #18BC9C;
}

.card {
    padding: 5px;
}

.card p {
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    margin: 5px 0 0 0;
}

.recap {
    margin-top: 5px;
}

.recap-billets {
    margin-bottom: 30px;
}

.credit-card {
    margin-bottom: 30px;
}

.condition td {
    font-style: italic;
}

.price td {
    font-size: 25px;
    font-weight: bold;
    color: #18BC9C;
}

.mention-block {
    padding: 15px 0 60px 0;
}

.social {
    margin: 0 0 15px 0;
}

.social a {
    color: white;
}

.social a:hover {
    text-decoration: none;
    color: #18BC9C;
}

.mentions:hover {
    text-decoration: none;
}

footer {
    background: black !important;
}

footer p {
    color: white;
}

.order-label {
    background: #18BC9C;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.text-order-label {
    font-weight: bold;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }