html, body {
    height: 100%;
}

.navbar {
    padding: 1px 8px 1px 8px;
}

.bg-primary {
    background-color: black !important;
}

.background {
    background: white;
}

.pictureHome {
    background: url("../img/pyramide.jpg") no-repeat center;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.pictureHome p {
    color:white;
    font-size: 50px;
}

.homePage h3, p {
    color: black;
}

.menu-order {
    margin-top: 15px;
}

.progress {
    margin-bottom: 15px;
}

.billet {
    border:rgba(0,0,0,0.125) 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}