{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue sur mon site !</h1>

    <p>Blalvl vlaav lavanlijhb vaojh iuoghva bqjbcnqd bdhbqdpiuah ouhgqidq iujqghd qokj hqdqojdbq ijiqgdqaîaj phjâd a^à h adaîha 
    ijhahgdaoi uha id iudgh ad açoudh ao adopiad  adpouh a iudhaod oqdôqdâ îah aodbn ni a^dpja ih adaokh adîhd aojdha daoihda$^daoihda
    daidhnbadh okahd azdokhj ôaidh a^diaj  ^paihd a çdugazdaz^d a^qknqs qîp kpqsjd aâzdd</p>

    <p>Blalvl vlaav lavanlijhb vaojh iuoghva bqjbcnqd bdhbqdpiuah ouhgqidq iujqghd qokj hqdqojdbq ijiqgdqaîaj phjâd a^à h adaîha 
    ijhahgdaoi uha id iudgh ad açoudh ao adopiad  adpouh a iudhaod oqdôqdâ îah aodbn ni a^dpja ih adaokh adîhd aojdha daoihda$^daoihda
    daidhnbadh okahd azdokhj ôaidh a^diaj  ^paihd a çdugazdaz^d a^qknqs qîp kpqsjd</p>
{% endblock %}