{% extends 'base.html.twig' %}


{% block body %}
<div class='background h-100'>
    <div class="pictureHome h-100">
        <div class="container h-100">
            <div class="row h-100 d-flex justify-content-center align-items-center">
                <div class="col-12 d-flex justify-content-center">
                    <p class="text-center">Bienvenue sur le site de billetterie du musée du louvre</p>
                </div>

                <div class="col-offset-3 col-6 col-offset-sm-4 col-sm-4 col-offset-md-5 col-md-2 align-self-baseline">
                    <a href={{ path('order_step_1') }}><button type="button" class="btn btn-primary btn-lg">Réserver un billet</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container homePage">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-12 border-price">
                    <table class="table-price">
                        <tbody>
                            <tr>
                                <th>Tarif Normal</th>
                                <th>Tarif Enfant</th>
                                <th>Tarif Senior</th>
                                <th>Tarif Réduit</th>
                            </tr>
                            <tr class="condition">
                                <td>(A partir de 12 ans)</td>
                                <td>(4 à 12 ans) (Gratuit avant 4 ans)</td>
                                <td>(A partir de 60 ans)</td>
                                <td>(Étudiant(e), militaire, employé(e) du Musée ou du Ministère de la Culture)</td>
                            </tr>
                            <tr class="price">
                                <td>16€</td>
                                <td>8€</td>
                                <td>12€</td>
                                <td>10€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'parts/footer.html.twig' %}

</div>
{% endblock %}


