{% extends 'base.html.twig' %}


{% block body %}
<div class='background'>
    <div class="container homePage">

        <div>
        <h3>Accueil</h3>

        <p>Une gros image ?</p>
        <p>Avec un slogan ?</p>
        <p>Bouton Billetterie</p>
        
        <button type="button" class="btn btn-primary">Réserver un billet</button>
       
        
        </div>

        <div>
        <h3>Horaires du musée du Louvre :</h3>

        <p>Lundi : 9 h - 18 h</p>
        <p>Mardi : Fermé</p>
        <p>Mercredi : 9 h - 21h45</p>
        <p>Jeudi : 9 h - 18 h</p>
        <p>Vendredi : 9 h - 21h45</p>
        <p>Samedi : 9 h - 18 h (jusqu'à 21h45 le premier samedi de chaque mois)</p>
        <p>Dimanche : 9 h - 18 h</p>

        <p>L'évacuation des salles débute à 17 h 30 ou 21 h 30 les jours de nocturne.</p>
        </div>

        <div>
        <h3>Tarifs</h3>

        <p>Tarif Normal: (A partir de 12 ans) 16€</p>
        <p>Tarif Enfant: (4 à 12 ans) (Gratuit avant 4 ans) 8€</p>
        <p>Tarif Senior: (A partir de 60 ans) 12€</p>
        <p>Tarif Réduit: (Étudiant(e), militaire, employé(e) du Musée ou du Ministère de la Culture) 10€</p>
        </div>

        <div>
        <h3>Contact</h3>

        <p>Musée du Louvre</p>
        <p>75058 Paris CEDEX 01</p>
        <p>France</p>
        <p>+33 (0)1 40 20 53 17</p>
        <p>info@louvre.fr</p>
        </div>

        <div>
        <h3>Réseaux Sociaux</h3>

        <p>Facebook / Twitter / Google+ / Instagram</p>
        </div>

    </div>
</div>
{% endblock %}
