<footer class="position-footer pt-3 py-3 text-muted text-center text-small">
    <div class="social">
        <a href="" class="fab fa-facebook fa-3x"></a>
        <a href="" class="fab fa-twitter fa-3x"></a>
        <a href="" class="fab fa-google-plus fa-3x"></a>
        <a href="" class="fab fa-instagram fa-3x"></a>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Contact</h3>

            <p>Musée du Louvre <br>
            75058 Paris CEDEX 01 <br>
            France <br>
            +33 (0)1 40 20 53 17 <br>
            info@louvre.fr</p>
        </div>

        <div class="col-6">
            <h3>Horaires d'ouverture :</h3>

            <p>Lundi, jeudi, samedi* et dimanche : 9 h - 18 h <br>
            Mercredi et vendredi : 9 h - 21h45 <br>
            Mardi : Fermé</p>
            <p>*jusqu'à 21h45 le premier samedi de chaque mois</p>

            <p>L'évacuation des salles débute à 17 h 30 ou 21 h 30 les jours de nocturne.</p>
        </div>
    </div>
    <p class="mb-1">© {{ 'now'|date('Y') }} Musée du Louvre</p>
</footer>