<footer class="position-footer pt-3 py-3 text-muted text-center text-small">
    <div class="social">
        <a href="" class="fab fa-facebook fa-3x"></a>
        <a href="" class="fab fa-twitter fa-3x"></a>
        <a href="" class="fab fa-google-plus fa-3x"></a>
        <a href="" class="fab fa-instagram fa-3x"></a>
    </div>
    <div class="row">
        <div id="contact-block" class="col-6">
            <h3>Contact</h3>

            <p>Musée du Louvre <br>
            75058 Paris CEDEX 01 <br>
            France <br>
            +33 (0)1 40 20 53 17 <br>
            info@louvre.fr</p>
        </div>

        <div id="hours-block" class="col-6">
            <h3>Horaires d'ouverture :</h3>

            <p>Lundi au samedi : 9 h - 18 h <br>
            Fermé le dimanche et jours feriés</p>

            <p>L'évacuation des salles débute à 17 h 30.</p>
        </div>
    </div>
    <p class="mb-1">© {{ 'now'|date('Y') }} Musée du Louvre <br>
    <a class="mentions" href={{ path('mentions') }}>Mentions Légales</a></p>
</footer>